group Main
  source https://api.nuget.org/v3/index.json
  framework:netstandard2
  redirects: on
	
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget Xamarin.Forms
  nuget FSharp.Core ~> 4.3
  nuget Microsoft.Build.Utilities.Core >= 15.5
  github fsharp/FAKE modules/Octokit/Octokit.fsx


group Test
  source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.0
	nuget Microsoft.NET.Test.Sdk 15.5.0 
	nuget NUnit 3.9.0 
	nuget NUnit3TestAdapter 3.9.0 
	nuget NUnit.ConsoleRunner ~> 3
	nuget FSharp.Core 4.3.3

group WpfSamples
  source https://api.nuget.org/v3/index.json
  framework: net461
  nuget FsXaml.Wpf
  nuget FSharp.Core 4.3.3